.import-btn {
  padding: 10px 0;
  border-top: 1px solid var(--border-light-color);
  border-bottom: 1px solid var(--border-light-color);
}
.tab-item {
  height: calc(100vh - var(--media-controller-height) - (174px) - 32px);
  overflow: auto;
}
.song {
  border-radius: 4px;
  padding: 11px 10px;
  transition: var(--transition);
  font-size: 13px;
  position: relative;
  .now-playing {
    position: absolute;
    left: 5px;
    top: 0;
  }
  &:nth-child(odd) {
    background-color: #4e4e4e5e;
  }
  &:hover {
    background-color: #ffffff57;
  }
  &:hover {
    .song-state {
      opacity: 1
    }
  }
  .name {
    width: 32%;
    color: var(--text-color);
  }
  .play-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .song-state {
    opacity: 0;
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  .type {
    margin-left: auto;
    color: #9d9d9d;
    width: 160px;
  }
  .thumbnail {
    width: 40px;
    height: 40px;
    background-size: cover;
  }
}
.song-list {
  padding: 10px 0;
}
.special-tab {
  .mat-tab-header {
    margin-right: 24px;
  }
  .song-list {
    padding-right: 18px;
  }
}
.folder-wrapper {
  margin: 0 -10px;
  .box-size {
    margin: 0 10px 5px 10px;
  }
  .album-box {
    width: 140px;
    height: 140px;
    border-radius: 6px;
    .layer {
      position: absolute;
      width: 130px;
      height: 130px;
      border-radius: 4px;
    }
    .main-layer {
      bottom: 0;
      left: 0;
      z-index: 3;
      border: 1px solid #585858;
      background-color: #000;
      background-size: cover;
    }
    .sub-layer {
      top: 0;
      right: 0;
      z-index: 2;
      border: 1px solid #262626;
    }
  }
  .dir-name {
    color: var(--text-color);
    padding-top: 10px;
    width: 140px;
  }
}
