.import-btn {
  padding: 10px 0;
  border-top: 1px solid var(--border-light-color);
  border-bottom: 1px solid var(--border-light-color);
}
.tab-item {
  height: calc(100vh - var(--media-controller-height) - (174px) - 32px);
  overflow: auto;
}
.song {
  border-radius: 4px;
  padding: 11px 10px;
  transition: var(--transition);
  font-size: 13px;
  position: relative;
  .now-playing {
    position: absolute;
    left: 5px;
    top: 0;
  }
  &:nth-child(odd) {
    background-color: #4e4e4e5e;
  }
  &:hover {
    background-color: #ffffff57;
  }
  &:hover {
    .song-state {
      opacity: 1
    }
  }
  .name {
    width: 32%;
    color: var(--text-color);
  }
  .play-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }
  .song-state {
    opacity: 0;
    width: 20px;
    height: 20px;
    fill: #fff;
  }
  .type {
    margin-left: auto;
    color: #9d9d9d;
    width: 160px;
  }
  .thumbnail {
    width: 40px;
    height: 40px;
    background-size: cover;
  }
}
.song-list {
  padding: 10px 0;
}
.special-tab {
  .mat-tab-header {
    margin-right: 24px;
  }
  .song-list {
    padding-right: 18px;
  }
}


.album-box {

}
