[theme-mode="dark"] {
  --icon-transition-duration: .25s;
  --icon-fill: #fff;
  --icon-button-hover-color: rgba(255, 255, 255, 0.2);
  --icon-button-active-color: rgba(255, 255, 255, 0.2);
  --icon-input-focus-color: #131313;
  --text-input-color: #fff;
  --text-color: #fff;
  --light-color: #ffffff1a;
  --main-color: deeppink;
  --button-hover-bg-color: rgba(255, 255, 255, 0.35);
  --sidebar-width: 320px;
  --media-controller-height: 108px;
  --titlebar-height: 30px;
  --dialog-bg-color: #000;
  --border-general-color: #e5e5e53d;
  --border-light-color: rgba(229, 229, 229, 0.12);
  --mat-ripple-element-color: rgba(255, 255, 255, 0.2);
  --slider-color: #b6b6b6;
  --transition: 0.25s;
}


