<div class="info-box flex">
  <div class="disc-avatar"></div>
  <div class="song-info">
    <div class="name">Ngày đen trắng</div>
    <div class="artist">huỳnh tú</div>
  </div>
</div>
<div class="flex" style="flex: 1;">
  <div class="controller">
    <div class="header-group flex justify-content-center align-items-center">
      <div class="icon-button flex align-items-center justify-content-center" matRipple>
        <svg id="sff">
          <use xlink:href="#shuffle"/>
        </svg>
      </div>
      <div class="icon-button flex align-items-center justify-content-center" matRipple>
        <svg class="con">
          <use xlink:href="#prev"/>
        </svg>
      </div>

      <div class="center-controller icon-button flex align-items-center justify-content-center" matRipple>
        <svg id="center">
          <use xlink:href="#play"/>
        </svg>
      </div>
      <div class="icon-button flex align-items-center justify-content-center" matRipple>
        <svg class="con">
          <use xlink:href="#next"/>
        </svg>
      </div>
      <div class="icon-button flex align-items-center justify-content-center" matRipple>
        <svg class="con">
          <use xlink:href="#loop"/>
        </svg>
      </div>
    </div>
    <mat-slider
      class="duration-controller"
      [min]="0"
      [max]="100"
      [(ngModel)]="currentValue"
    ></mat-slider>
  </div>
  <div class="sub-controller">

  </div>
</div>
